#! /usr/bin/env bash

PROJECT_ROOT="$(pwd)"
LIB_NAME="fsynth"
LIB_ROOT="${PROJECT_ROOT}/${LIB_NAME}"
export LIB_NAME
export PROJECT_ROOT
export LIB_ROOT

if [[ -d ".luarocks" ]]; then
    echo "Using local LuaRocks installation in ${PROJECT_ROOT}/.luarocks"
    # 1. Configure LuaRocks to use the local tree and export paths
    eval $("$(which luarocks)" --tree "${PROJECT_ROOT}/.luarocks" path)
    export LUA_PATH="${PROJECT_ROOT}/?.lua;${PROJECT_ROOT}/${LIB_NAME}/?.lua;${PROJECT_ROOT}/${LIB_NAME}/?/init.lua;${LUA_PATH}"

    # 3. Add spec directory to LUA_PATH for testing
    export LUA_PATH="${PROJECT_ROOT}/spec/?.lua;${LUA_PATH}"
    # Add .luarocks/bin to PATH
    export PATH="${PROJECT_ROOT}/.luarocks/bin:${PATH}"
fi
